@font-face {
  font-family: 'Regular';
  src: url('../assets/fonts/Circe-Regular.eot') format('embedded-opentype'),
  url('../assets/fonts/Circe-Regular.ttf')  format('truetype'),
  url('../assets/fonts/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular-B';
  src: url('../assets/fonts/Circe-Bold.eot') format('embedded-opentype'),
  url('../assets/fonts/Circe-Bold.ttf')  format('truetype'),
  url('../assets/fonts/Circe-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
