$tablet: 64em;
$mobile: 40em;
$font: 'Regular';
$fontB: 'Regular-B';
$green: #74C241;
$main: #151621;
$blue: #0094DF;
$black: #000;
$blackSecondary: #2C3F52;
$white: #fff;
$red: #FF3B30;
$redBg: #FFD8D6;